@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f3f3f3;
  font-family: "Poppins", sans-serif;
}

h1 {
  margin-bottom: 2rem;
  color: #f3f3f3;
}

main {
  display: flex;
  height: 100vh;
}

.leftside {
  background-color: #22252a;
  width: 50%;
  text-align: center;
  padding-top: 25vh;
}

.rightside {
  background-color: #1e2025;
  width: 50%;
  text-align: center;
  display: flex;
  justify-content: center;
}
#result {
  display: flex;
  justify-content: center;
  align-items: center;
}

input {
  border: none;
  background-color: #1e2025;
  padding: 1.4rem 1rem;
  font-size: 0.8rem;
  margin-bottom: 1rem;
  width: 25rem;
  color: #f3f3f3;
}

input::placeholder {
  font-family: "Poppins";
  font-size: 0.8rem;
}

button {
  border: none;
  background-color: #2563eb;
  color: #f3f3f3;
  font-weight: 700;
  padding: 1.2rem;
  text-transform: uppercase;
  cursor: pointer;
  width: 25rem;
  margin-top: 1rem;
}
